/* 全体のコンテナ設定 */
#your_container {
    height: 600px;
    width: 50%;
}

/* チャットの外側部分① */
#bms_messages_container {
    height: 100%;
    width: 100%;
    background-color: #eee;
}

/* ヘッダー部分② */
#bms_chat_header {
    padding: 6px;
    font-size: 16px;
    height: 34px;
    background: #ddd;
    border: 1px solid #ccc;
}

#bms_chat_user_status {
    float: left;
}

#bms_status_icon {
    float: left;
    line-height: 2em;
}

#bms_chat_user_name {
    float: left;
    line-height: 2em;
    padding-left: 8px;
}

/* タイムライン部分③ */
#bms_messages {
    overflow: auto;
    height: calc(100% - 34px - 48px - 14px); /* ヘッダーとフッター分を差し引く調整 */
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #eee;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2) inset;
}

/* メッセージ全般のスタイル */
.bms_message {
    margin: 0px;
    padding: 0 14px;
    font-size: 16px;
    word-wrap: break-word;
    white-space: normal;
}

/* メッセージボックス（吹き出しの外枠） */
.bms_message_box {
    margin-top: 20px;
    max-width: 100%;
    font-size: 16px;
}

/* メッセージコンテンツ（内側の余白） */
.bms_message_content {
    padding: 10px; /* 記事の記述に合わせて調整可 */
}

/* メッセージ１（左側：相手） */
.bms_left {
    float: left;
    line-height: 1.3em;
}

.bms_left .bms_message_box {
    color: #333;
    background: #fff;
    border: 2px solid #13178E;
    border-radius: 30px 30px 30px 0px; /* 左下を角にする */
    margin-right: 50px;
}

/* メッセージ２（右側：自分） */
.bms_right {
    float: right;
    line-height: 1.3em;
}

.bms_right .bms_message_box {
    color: #fff;
    background: #13178E;
    border: 2px solid #13178E;
    border-radius: 30px 30px 0px 30px; /* 右下を角にする */
    margin-left: 50px;
}

/* 回り込みを解除 */
.bms_clear {
    clear: both;
}

/* テキストエリア、送信ボタン④ */
#bms_send {
    background-color: #eee;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 48px;
    padding: 4px;
}

#bms_send_message {
    width: calc(100% - 75px);
    line-height: 16px;
    height: 48px;
    padding: 14px 6px 0px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
    box-sizing: border-box;
}

#bms_send_btn {
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

#bms_send_btn:hover {
    background: #13178E;
    cursor: pointer;
}
